.userEditContainer {
    display: flex;
    flex-direction: column;

    align-items: center;

    gap: 1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .formContainer {
        display: flex;
        flex-direction: column;

        gap: 1rem;
        margin-top: 2rem;

        img {
            width: 4rem;
            height: 4rem;
            border-radius: 50%;
        }

        input {
            line-height: 1.5rem;
            font-size: 1rem;

            border-radius: 0.5rem;

            border: 1px solid #dad7cd;

            padding: 1rem;

            width: 34rem;

            &:focus {
                outline: none;
                border: 0.1rem solid var(--orange-5);
            }
        }

        .inputLine {
            display: flex;

            justify-content: space-between;

            input {
                width: 16.5rem;
            }
        }

        .imageContainer {
            svg {
                cursor: pointer;

                &:hover {
                    filter: brightness(0.8);
                }
            }
        }
    }

    .uploadContainer {
        display: flex;
        flex-direction: column;

        .fileInput {
            input[type="file"] {
                display: none;
            }

            line-height: 1.5rem;
            font-size: 1rem;
    
            border-radius: 0.5rem;
    
            border: 1px solid #dad7cd;

            background-color: #ffffff;
    
            padding: 1rem;
    
            width: 34rem;
    
            cursor: pointer;
    
            &:focus {
                outline: none;
                border: 0.1rem solid var(--orange-5);
            }
    
            &:hover {
                filter: brightness(0.95);
            }
        }
    }

    button {
        margin-top: 2rem;

        border: 0;
        border-radius: 0.5rem;

        padding: 1rem;

        width: 34rem;

        color: #ffffff;
        background-color: var(--orange-5);

        &:hover {
            filter: brightness(0.9);
        }
    }

    .signInLink {
        text-decoration: none;
        color: #29292e;

        cursor: default;

        span {
            color: #1976d2;
            text-decoration: underline;

            cursor: pointer;
        }
    }
}