.signInButton {
    height: 3rem;
    border-radius: 3rem;
    background: var(--orange-5);
    border: 0;
    padding: 0 1.5rem;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    color: var(--orange-1);
    font-weight: bold;
  
    svg {
      width: 20px;
      height: 20px;
    }
  
    img {
      margin-right: 1rem; 
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 2px solid var(--white);
    }
  
    transition: filter 0.2s;
  
    &:hover {
      filter: brightness(0.8);
    }
  }